{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block content %} 
<form action="{{ url_for('post') }}" id="commentfield" method="post">
    
    <table>
        <tbody>
        <tr>
            <td><label for="username">Name: </label></td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr>
            <td><label for="idnumber">ID number: </label></td>
            <td><input type="number" name="idnumber" id="idnumber"></td>
        </tr>
        <tr>
            <td><label for="emailaddress">Email: </label></td>
            <td><input type="email" name="emailaddress" id="emailaddress"></td>
        </tr>
        <tr>
            <td><label for="phonenumber">Phone number: </label></td>
            <td><input type="tel" name="phonenumber" id="phonenumber"></td>
        </tr>
        <tr>
            <td><label for="comment">Comment: </label></td>
            <td><input type="text" name="comment" id="comment"></td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" id="submit"></td>
            </tr>
        </tfoot>
    </table>

    <br>
</form>
{% endblock %}